body {
    background-image: url('../media/bg.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10vh 20px 20px;
    max-width: 350px;
    margin: 0 auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    max-width: 350px;
    border-left: 3px solid white;
    padding-right: 140px;
}

textarea {
    width: 100%;
    max-width: 350px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2c2c2e;
    color: #fff;
    resize: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 100px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #437fffbd;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0057b3bd;
    font-weight: bold;
}

#result {
    margin-bottom: 10px;
}

#pieChart {
    max-width: 1000px;
    max-height: 400px;
    margin: 2px auto;
}


@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
}